<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Líder – Synergy</title>
  <link rel="stylesheet" href="/css/Lider_Dashboard.css">
  <link rel="stylesheet" href="/Synergy/src/main/resources/static/css/Usuarios_Dashboard.css">
</head>

<body>

  <div class="hero">
    <div class="overlay"></div>

    <div class="container">
      <div class="card">

        <!-- ENCABEZADO -->
        <div class="header">
          <div class="top-buttons">

            <!-- Inicio -->
            <a th:href="@{/index}" class="btn-inicio">Inicio</a>

            <!-- Logout -->
            <a th:href="@{/logout}" class="btn-usuarios">Cerrar sesión</a>

          </div>

          <h1>Panel del Líder</h1>
          <p class="subtitle">Gestiona tu proyecto fácilmente.</p>
        </div>

        <!-- OPCIONES PRINCIPALES -->
        <div class="menu-options">

          <a th:href="@{/lider/tareas/asignar}" class="menu-btn">
            📝 Asignar tareas
          </a>

          <a th:href="@{/lider/usuarios}" class="menu-btn">
            👥 Ver usuarios inscritos al proyecto
          </a>

          <a th:href="@{/lider/tareas/recibidas}" class="menu-btn">
            📥 Ver tareas recibidas
          </a>


        </div>

      </div>
    </div>
  </div>

</body>

</html>